<div class="block gallery">
{% if block.gallery %}
	<ul>
	{% for gallery in block.gallery %}
		<li>
			<a href="{{ gallery.url }}"><img src="{{ gallery.url }}"></a>
		</li>
	{% endfor %}
	</ul>
{% endif %}
</div>
