<ul class="info-list u-margin">
    {% for item in block.info_list %}
        <li class="info-list__item">
            <div class="info-list__term">{{ item.title }}</div>
            <div class="info-list__definition">
                {% for block in item.content %}
					{% include 'views/content/info-list/' ~ block.acf_fc_layout ~ '.twig' %}
				{% endfor %}
            </div>
        </li>
    {% endfor %}
</ul>