<div class="block table">
	<table>
		{% if block.header %}
		<thead>
			<tr>
			{% for row in block.header %}
				<th>{{ row.c }}</th>
			{% endfor %}
			</tr>
		</thead>
		{% endif %}
		<tbody>
		{% for row in block.body %}
			<tr>
				{% for column in row.row %}
				<td>{{ column.c }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
