<div class="block table">
	{% if block.table %}
	<table>
		<tr>
		{% for row in block.table.header %}
			<th>{{ row.c }}</th>
		{% endfor %}
		</tr>
		{% for row in block.table.body %}
			<tr>
				{% for column in row %}
					<td>{{ column.c }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>
