{% extends 'base.twig' %}

{% block content %}
<div class="error-404">
    Sorry, the requested page cannot be found{% if error_message %}:<br />{{ error_message }}{% else %}.{% endif %}
</div>
{% endblock %}
