{% extends 'base.twig' %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}
			</div>

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}

				<h1 class="title u-margin">{{ agency.title }}</h1>

                {% include 'views/snippets/view-switch.twig' with { 'class' : 'u-margin' } %}

				<ul class="agency-list">
					<li class="agency-list__item">
						<a href="" class="agency-list__link">
							<span class="agency-list__country">ES</span>
							AAC-DEVA - Andalusian Agency of Knowledge, Department of Evaluation and Accreditation
							
							<svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 7 12" class="agency-list__arrow">
								<polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
							</svg>
						</a>
					</li>

					<li class="agency-list__item">
						<a href="" class="agency-list__link">
							<span class="agency-list__country">AU</span>
							AQ Austria - Agency for Quality Assurance and Accreditation Austria
							
							<svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 7 12" class="agency-list__arrow">
								<polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
							</svg>
						</a>
					</li>

					<li class="agency-list__item">
						<a href="" class="agency-list__link">
							<span class="agency-list__country">BE</span>
							AEQES - Agence pour l'Evaluation de la Qualité de l'Enseignement Supérieur
							
							<svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 7 12" class="agency-list__arrow">
								<polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
							</svg>
						</a>
					</li>

					<li class="agency-list__item">
						<a href="" class="agency-list__link">
							<span class="agency-list__country">DE</span>
							ACQUIN - Accreditation, Certification and Quality Assurance Institute
							
							<svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 7 12" class="agency-list__arrow">
								<polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
							</svg>
						</a>
					</li>

					<li class="agency-list__item">
						<a href="" class="agency-list__link">
							<span class="agency-list__country">DE</span>
							AHPGS – Accreditation Agency in Health and Social Sciences
							
							<svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 7 12" class="agency-list__arrow">
								<polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</main>
{% endblock %}
