{% include 'snippets/head-element.twig' with { page_title: block('title') } %}
    <body class="{{ body_class }}">

    {% include 'snippets/header.twig' %}

    <section class="content">
        {% block content %}
        {% endblock %}
    </section>

    {% include 'snippets/tooltips.twig' %}

    {% include 'snippets/footer.twig' %}

    {{ function('wp_footer') }}
</body>
</html>
