{% extends 'base.twig' %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}
			</div>

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}

				<h1 class="title u-margin">Institutions</h1>

				<ul class="agency-list">
                    {% for institution in institutions %}
                        <li class="agency-list__item">
                            <a href="/register/institutions/single/?id={{ institution.id }}" class="agency-list__link">
                                {{ institution.name_primary }}
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="12" viewBox="0 0 7 12" class="agency-list__arrow">
                                    <polygon points="0 1.21 1.18 0 7 6 7 6 7 6 1.18 12 0 10.78 4.64 6 0 1.21"/>
                                </svg>
                            </a>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>
	</main>
{% endblock %}
