{% extends 'base.twig' %}

{% block content %}
	<div style="padding: 25px;">
		<div class="u-container">
			{% for block in post.get_field('blocks') %}
				{% include 'views/content/' ~ block.acf_fc_layout ~ '.twig' %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
