{% extends 'base.twig' %}

{% block content %}
	<main class="u-padding">
		<div class="l-two-column u-container">
			<div class="l-two-column__sidebar">
				{% include 'snippets/sidebar.twig' %}
			</div>

			<div class="l-two-column__content">
				{% include 'views/snippets/breadcrumbs.twig' %}
                {% include 'views/snippets/search.twig' %}

                <ul class="country-list">
                    <li class="country-list__item">
                        <a href="" class="country-list__link">
                            Albania <span class="country-list__count">28</span>
                        </a>
                    </li>
                    <li class="country-list__item">
                        <a href="" class="country-list__link">
                            Andorra <span class="country-list__count">28</span>
                        </a>
                    </li>
                    <li class="country-list__item">
                        <a href="" class="country-list__link">
                            Austria <span class="country-list__count">275</span>
                        </a>
                    </li>
                    <li class="country-list__item">
                        <a href="" class="country-list__link">
                            Armenia <span class="country-list__count">98</span>
                        </a>
                    </li>
                    <li class="country-list__item">
                        <a href="" class="country-list__link">
                            Azerbaijan <span class="country-list__count">98</span>
                        </a>
                    </li>
                    <li class="country-list__item">
                        <a href="" class="country-list__link">
                            Belgium <span class="country-list__count">278</span>
                        </a>
                    </li>
                    <li class="country-list__item">
                        <a href="" class="country-list__link">
                            Belarus <span class="country-list__count">27</span>
                        </a>
                    </li>
                    <li class="country-list__item">
                        <a href="" class="country-list__link">
                            Bosnia and Herzegovina <span class="country-list__count">28</span>
                        </a>
                    </li>
                    <li class="country-list__item">
                        <a href="" class="country-list__link">
                            Bulgaria <span class="country-list__count">12</span>
                        </a>
                    </li>
                    <li class="country-list__item">
                        <a href="" class="country-list__link">
                            Croatia <span class="country-list__count">51</span>
                        </a>
                    </li>
                    <li class="country-list__item">
                        <a href="" class="country-list__link">
                            Czech Republic <span class="country-list__count">176</span>
                        </a>
                    </li>
                </ul>
            </div>
		</div>
	</main>
{% endblock %}
