<form class="form qa-search__form">
    <div class="form__fieldset form__fieldset--search">
        <input type="search">
        <input type="submit" value="{{ search.button }}" class="qa-search__button">
    </div>
    
    <div class="form__fieldset">
        <button class="button qa-search__advanced js-qa-search__toggle">Advanced search</button>
    </div>
    
    <div class="qa-search__expand js-qa-search__expand">
        <div class="form__columns">
            <div class="form__fieldset form__fieldset--half">
                <label for="" class="form__label">Historical Data</label>
                <input type="date">
            </div>

            <div class="form__fieldset form__fieldset--half">
                <label for="" class="form__label">Historical Data</label>                
                <input type="date">                
            </div>
        </div>
        
        <div class="form__fieldset">
            <label for="" class="form__label">Agency</label>
            <select>
                <option value="">Option</option>
                <option value="">Option</option>
                <option value="">Option</option>
            </select>
        </div>

        <div class="form__fieldset">
            <label for="" class="form__label">EHEA Level</label>
            <div class="checkbox checkbox--horizontal">
                <label class="checkbox__item">
                    <input type="checkbox" class="checkbox__input">
                    Label
                </label>

                <label class="checkbox__item">
                    <input type="checkbox" class="checkbox__input">
                    Label
                </label>

                <label class="checkbox__item">
                    <input type="checkbox" class="checkbox__input">
                    Label
                </label>

                <label class="checkbox__item">
                    <input type="checkbox" class="checkbox__input">
                    Label
                </label>
            </div>
        </div>
    </div>
</form>