<div class="newsletter u-margin">
    <h3 class="title newsletter__title">{{ newsletter.title }}</h3>
    {% if newsletter.description %}
        <div class="text newsletter__text">{{ newsletter.description }}</div>
    {% endif %}

    <div class="form newsletter__form">
        {# {{ fn('gravity_form', newsletter.form.id, false, false, false, '', true, '0') }} #}

        <form method="post" action="https://lists.eqar.eu/?p=subscribe&amp;id=1" name="subscribeform" class="form phplist-form">
            <div class="gform_fields">
                <div class="gfield">
                    {# <label for="email">Email address:</label> #}
                    <input type="text" name="email" value="" size="40" placeholder="Your email address">
                    <script language="Javascript" type="text/javascript">addFieldToCheck("email","Email address");</script>
                </div>
                <div class="gfield"> 
                    {# <label for="emailconfirm">Confirm your email address:</label> #}
                    <input type="text" name="emailconfirm" value="" size="40" placeholder="Confirm your email address">
                    <script language="Javascript" type="text/javascript">addFieldToCheck("emailconfirm","Confirm your email address");</script>
                    <input type="hidden" name="htmlemail" value="1" />
                </div>
                <div class="gfield"> 
                    {# <label for="attribute2">Name</label> #}
                    <input type="text" name="attribute2" class="attributeinput" size="40" value="" placeholder="Name">
                    </div>
                <div class="gfield"> 
                {# <label for="attribute4">Organisation</label> #}
                    <input type="text" name="attribute4" class="attributeinput" size="40" value="" placeholder="Organisation">
                    <input type="hidden" name="list[2]" value="signup" />
                    <input type="hidden" name="listname[2]" value="newsletter" />
                </div>
                <div style="display:none">
                    <input type="text" name="VerificationCodeX" value="" size="20" />
                </div>
                <div class="gfield">
                    <input type="submit" name="subscribe" value="Sign up" onclick="return checkform();" />
                </div>
                <div class="newsletter__actions">
                    <p><a href="https://lists.eqar.eu/?p=subscribe&amp;id=1" target="_blank">Form in new window</a>&nbsp;|&nbsp;<a href="https://lists.eqar.eu/?p=unsubscribe&amp;id=1">Unsubscribe</a></p>
                </div>
            </div>
        </form>
    </div>
</div>

