<div class="qa-search u-margin">
    <h1 class="title qa-search__title">{{ search.title }}</h3>
    <div class="text qa-search__text">{{ search.description }}</div>

    <form class="form qa-search__form">
        <div class="form__container">
            <input type="search">
            <input type="submit" value="{{ search.button }}" class="qa-search__button">
        </div>
    </form>
</div>