<ul class="view-switch">
    <li class="view-switch__item">
        <a href="{{ fn('get_the_permalink', agency.map) }}" class="view-switch__link {{ agency.map.ID == post.id ? 'view-switch__link--active' }}">
            View as map
        </a>
    </li>
    <li class="view-switch__item">
        <a href="{{ fn('get_the_permalink', agency.list) }}" class="view-switch__link {{ agency.list.ID == post.id ? 'view-switch__link--active' }}">
            View as list
        </a>
    </li>
</ul>