.accordion {
    font-size: 15px;
    position: relative
}

.accordion__item:not(:last-child) {
    margin-bottom: 10px;
}

.accordion__definition {
    cursor: pointer;
    position: relative;
    padding: 12px 37px 12px 15px;
    background-color: @secondary;
    font-weight: bold;
}

.accordion__item.accordion__item--always-open .accordion__definition {
    cursor: unset;
}

.accordion__arrow {
    position: absolute; top: 25px; right: 15px;
    fill: fade(@primary, 40%);
    transition: all 0.2s ease;
}

    .accordion__definition:hover .accordion__arrow {
        fill: @primary;
    }

    .accordion__definition--is-toggled .accordion__arrow {
        transform: rotate(180deg);
    }

.accordion__clock {
    position: absolute; top: 16px; left: 15px;
    fill: fade(@primary, 40%);
    cursor: help;
}


.accordion__description {
    display: none;
    background-color: #F6FBFE;
    padding: 15px 25px;
}

    .accordion__description.accordion__description--two-tone {
        padding: 0;
    }

.report-invalid .accordion__definition {
    padding-left: 45px;
}

.accordion__definition-icons {
    margin: 3px 0 0;
    padding: 0 5px 0 0;
    display: inline-block;
}

.accordion-icon-wrapper {
    cursor: help;
    padding: 0 3px;
    height: 22px;
    display: inline-block;
    border-right: solid 1px rgba(0, 0, 0, 0.1);

    &:last-child {
        border-right: 0;
    }

}

.accordion-icon {
    margin: 0;
    display: inline-block;
}

.accordion-icon__hub {
    margin: 0 3px;
}

.accordion-icon__shield {
    margin: 0 5px 0 0;
}

.accordion-icon__gavel {
    margin: 0 5px -2px 0;
}

.accordion-icon__shield {
    margin-bottom: 0px;
}

.accordion__title {
    display: inline-block;
}

@media (min-width: 768px) {

    .accordion {
        font-size: 18px;
    }

    .accordion__definition {
        padding: 12px 47px 12px 20px;
    }

    .accordion__arrow {
        right: 20px;
    }

    .accordion__description {
        padding: 30px 40px;
    }

}

