.country-list {
    font-size: 15px;
}

.country-list__link {
    display: inline-flex;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #E0E0E0;
    justify-content: space-between;
    align-items: center;
}

.country-list__data {
    width: 70px;
    flex: 0 0 auto;
}

.country-list__count {
    margin-left: 5px;
    width: 25px;
    font-size: 0.85em;
    color: fade(@primary, 60%);
}

.country-list__battery--outer {
    display: inline-flex;
    align-items: stretch;
    width: 30px;
    height: 14px;
    border: 1px solid fade(@primary, 60%);
    padding: 1px;
}
.country-list__battery--inner {
    display: block;
    background: fade(@primary, 60%);
}

@media (min-width: 480px) {

    .country-list {
        column-count: 2;
        column-gap: 20px;
    }
}


@media (min-width: 768px) {

    .country-list {
        font-size: 17px;
        column-count: 3;
    }

    .country-list__count {
        margin-left: 10px;
    }
}
