.footer {
    padding: 32px 25px;
    background-color: @primary-dark;
    color: rgba(255, 255, 255, 0.5);

    a:hover {
        color: white;
    }
}

.footer__title {
    margin-bottom: 6px;
    font-size: 18px; font-weight: bold;
    line-height: 1.4;
    color: white;
}

.footer__links .menu-item {
    display: block;
    padding: 3px 0;
}

.footer__links .menu-item.menu-item--login .menu-link {
    padding-left: 20px;
    background-image: url('../gfx/icon-login.svg');
    background-repeat: no-repeat;
    background-position: left center;
}

.eu-footer {
    padding: 32px 25px;
    background-color: @secondary;
    color: ~'#000a';

    a {
        text-decoration: underline ~'#0007';
    }

    .eu-footer__columns {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-end;

        .eu-footer__text-column {
            margin-bottom: 20px;
            flex-grow: 1;
            flex-shrink: 1;
        }
        .eu-footer__logo-column {
            width: 100%;
            max-width: 250px;
            flex-grow: 0;
            flex-shrink: 1;
        }
    }
}

.eu-logo {
    fill: ~'#000a';

    .eu-logo__flag__bg {
        fill: ~'#0009';
    }
    .eu-logo__flag__star {
        fill: #fff;
    }
}

@media (min-width: 400px) and (max-width: 639px), (min-width: 840px) {
    
    .footer__links {
        column-count: 2;
        column-gap: 22px;
    }
}

@media (max-width: 639px) {

    .footer__column:not(:last-child) {
        margin-bottom: 22px;
    }
}


@media (min-width: 580px) {

    .footer, .eu-footer {
        padding: 32px 40px;
    }
}


@media (min-width: 640px) {

    .footer, .eu-footer {
        padding: 44px 40px;
    }

    .footer__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .footer__column {
        width: 36.75%;
    }   
    
        .footer__column--large {
            width: 48.6%;
        }    
}


@media (min-width: 768px) {

    .footer, .eu-footer {
        font-size: 17px; line-height: 1.75;
    }

    .footer__title {
        font-size: 20px;
    }

    .eu-footer .eu-footer__columns {
        flex-flow: row nowrap;
        align-items: center;

        .eu-footer__text-column {
            margin-right: 40px;
        }
        .eu-footer__logo-column {
            max-width: 280px;
            flex-shrink: 0;
        }
    }
}


@media (min-width: 1024px) {

    .footer, .eu-footer {
        padding: 66px 60px;
    }
}

@media (min-width: 1180px) {

    .footer__title--trademark {
        display: flex;
        width: ~'calc(100% + 50px)';
        margin-left: -50px;        

        &:before {
            content: '';
            display: block;
            width: 30px; height: 20px;
            min-width: 30px;
            margin-right: 20px; margin-top: 2px;
            background-image: url('../gfx/logo-trademark.svg');
            background-repeat: no-repeat;
            background-size: 30px 20px;
        }
    }
}


@media (min-width: 1280px) {

    .footer, .eu-footer {
        padding: 100px 60px;
    }
}
