.form {
    font-size: 15px;
    color: fade(@primary, 80%);
}

.form__container {
    display: flex;
    flex-direction: row;
}

.form__fieldset--search {
    display: flex;
    flex-direction: row;
}

.form .gfield,
.form__fieldset {
    margin-bottom: 15px;
}

.gform_fields {

    .gfield {
        display: flex;
        flex-direction: column;
    }

    .gsection_title {
        font-size: 18px;
        font-weight: bold;
        color: @primary;
    }

    .gfield_label {
        font-weight: bold;
        width: 100%;
        order: -2;
        flex: 0 0 auto;

        .gfield_required {
            margin-left: 5px;
            color: @accent-dark;
        }
    }

    .ginput_container {
        width: 100%;
        order: 0;
        flex: 1 0 auto;
    }

    .gfield_description {
        padding-top: 5px;
        width: 100%;
        order: 1;
        flex: 1 0 auto;
    }

    &.top_label .gfield.field_description_above .gfield_description {
        order: -1;
        padding-top: 0;
    }

}

.cta-form .gform_fields {

    .gfield {
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: flex-start;
    }

    .ginput_container,
    .ginput_container ul
    {
        display: contents;
    }

    .gfield_label .gfield_required {
        display: none;
    }

    .gfield_radio li,
    .gfield_checkbox li {
        padding-left: 10px;
        padding-right: 10px;
    }

    textarea {
        height: 100px;
    }
}

.form__fieldset:last-child {
    margin-bottom: 0;
}

.form .gfield_label,
.form__label {
    display: block;
    margin-bottom: 6px;
}

.form .hidden_label .gfield_label
{
    display: none;
}

.form .gform_ajax_spinner {
    display: none;
}

.form input[type="text"],
.form input[type="search"],
.form input[type="email"],
.form input[type="submit"],
.form input[type="date"],
.form input[type="search"],
.form select,
.form textarea {
    padding: 12px 15px;
    color: #909090;
    background-color: white;
    border: 1px solid #D8D8D8;
    -webkit-appearance: none;
    -moz-apperance: none;

    &::-webkit-input-placeholder { 
        color: #C0C0C0; 
    }

    &::-moz-placeholder { 
        color: #C0C0C0; 
    }

    &:-ms-input-placeholder { 
        color: #C0C0C0; 
    }
}

.form input[type="button"],
.form input[type="submit"] {
    cursor: pointer;
    width: auto; padding: 12px 25px;
    background-color: @accent;
    border: 0;
    font-weight: bold; color: white;
    transition: all 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:hover {
        background-color: @accent-dark;
    }
}

.form input[type="search"] {
    min-width: 0; // Needed for flex-basis in Firefox
    padding-left: 42px;
    background-image: url('../gfx/icon-search.svg');
    background-repeat: no-repeat;
    background-position: left 12px center;
    -webkit-appearance: none;
}

.form select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form .gfield_radio li,
.form .gfield_checkbox li {
	display: flex;
    padding: 3px 0;
    align-items: baseline;
}   

.form .gfield_radio input,
.form .gfield_checkbox input {
    width: auto; margin: 3px 8px 0 0;
}

.form .validation_error,
.form .validation_message {
    color: @accent-dark;
}

.form .validation_error {
    margin-bottom: 10px;
}

.form .validation_message {
    font-size: 14px;
    margin-top: 5px;
}


.form__columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

    .form__fieldset--half {
        width: ~'calc(50% - 10px)';
    }

@media (min-width: 640px) {

    .gform_fields {

        &.left_label,
        &.right_label {
            .gfield {
                display: grid;
                grid-template-columns: 33% auto;

                &.gsection,
                &.gfield_html {
                    display: block;
                }
            }

            .gfield_label {
                padding-right: 15px;
                grid-column: ~'1 / 2';
                grid-row: ~'1 / 3';
            }

            .ginput_container {
                grid-column: ~'2 / 3';
                grid-row: ~'1 / 2';
            }

            .gfield_description {
                grid-column: ~'2 / 3';
                grid-row: ~'2 / 3';
            }
        }

        &.right_label {

            .gfield_label {
                text-align: right;
            }

        }

    }
}

@media (min-width: 768px) {

    .form {
        font-size: 17px;

        .gfield_description {
            font-size: 15px;
        }

        .gsection_title {
            font-size: 20px;
        }
    }
}
