.info-list {
    font-size: 15px;
    clear: both;
}

    .info-list--padding {
        padding: 15px 25px;
    }

    .info-list--programme-description {
        background-color: @secondary;
    }

    small {
        font-size: .8em;
    }

.info-list__definition .text {
    color: inherit;
}

.info-list__link {
    text-decoration: underline;
}

.info-list__item:not(:last-child) {
    padding-bottom: 10px;
}

.info-list__term {
    color: fade(@primary, 70%);
}


@media (max-width: 639px) {

    .info-list__term {
        margin-bottom: 5px;
    }
}


@media (min-width: 640px) {

    .info-list__item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        &:not(:last-child) {
            padding-bottom: 15px;
        }
    }

    .info-list__term {
        width: 33%;

    }

    .info-list__definition {
        width: 61%;
    }
}


@media (min-width: 768px) {

    .info-list {
        font-size: 17px;
    }

        .info-list--padding {
            padding: 30px 40px;
        }

        .info-list--programme-description {
            padding-top: 20px;
        }
}
