@media (max-width: 1023px) {

    .l-two-column__content {
        max-width: 690px;
        margin: 0 auto;
    }
}


@media (min-width: 1024px) {
    
    .l-two-column {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .l-two-column__sidebar {
        width: 24%;
    }
    
    .l-two-column__content {
        width: 69%;
    }    
}