@media (max-width: 1023px) {

    .l-two-column {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 690px;
        margin: 0 auto;
    }

    .l-two-column__sidebar,
    .l-two-column__content {
        display: contents;
    }

    .l-two-column__sidebar > * {
        order: 2;
    }
    .l-two-column__sidebar > .search-facets {
        order: -5;
    }
    .l-two-column__content > .breadcrumbs {
        order: -10;
    }
}


@media (min-width: 1024px) {
    
    .l-two-column {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .l-two-column__sidebar {
        width: 24%;
    }
    
    .l-two-column__content {
        width: 69%;
    }    
}
