.map path {
    fill: #cdd6e4;
    stroke: #ffffff; stroke-width: 10;
    transition: all 0.2s ease;
}

.map .europe.active {
    fill: #18498F;
}

.map .europe.active2 {
    fill: #98ACCA;
}

.map path.circle {
    stroke-width: 16;
}

.map path.yes {
    fill: @primary-dark;
}

.map path.partially {
    fill: @primary;
}

.map path:hover {
    cursor: pointer;
    fill: @accent-dark;
}

.map-highlight {
    width: 200px;
    margin: 0 0 15px 10px;
}

.map-legend-dark {
    border-left: 10px solid #18498F;
    padding-left: 10px;
}

.map-legend-medium {
    border-left: 10px solid #98ACCA;
    padding-left: 10px;
}

.map-legend-light {
    border-left: 10px solid #CDD6E4;
    padding-left: 10px;
}

// Classes and ID's from original map (/public/gfx/map-original.svg)

.europe {} /* EHEA signatories */
.eu {} /* EU member states */
.nonehea {} /* non-EHEA countries */
#ad {}
#al {}
#am {}
#at {}
#az {}
#ba {}
#be {} /* #be is a group including #be-fr and #be-nl */
#be-fr {}
#be-fl {}
#bg {}
#by {}
#ch {}
#cy {}
#cz {}
#de {}
#dk {}
#ee {}
#es {}
#fi {}
#fr {}
#ge {}
#gr {}
#hr {}
#hu {}
#ie {}
#im {}
#is {}
#it {}
#kz {}
#li {}
#lt {}
#lu {}
#lv {}
#mc {}
#md {}
#mk {}
#mt {}
#nl {}
#no {}
#pl {}
#pt {}
#ro {}
#rs {}
#se {}
#si {}
#sk {}
#sm {}
#tr {}
#ua {}
#uk {}
#xk {}
