@media (max-width: 1023px) {

    .menu__toggle {
        width: 30px; height: 30px;
        margin-right: 10px;
        flex: 0 0 30px;
    }

    .menu__icon {
        fill: fade(@primary, 60%);
        transition: all 0.2s ease;
    }

        .menu__toggle--is-active .menu__icon {
            fill: @primary;
            transform: rotate(45deg);
        }

    .menu__children,
    .menu__grandchildren {
        display: none;
        width: 100%;
    }

    .menu__grandchildren .menu__grandchildren {
        padding-left: 12px;
    }

    .menu .menu-item {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .menu .menu-item--primary {
        border-bottom: 1px solid fade(@primary, 10%);
    }

    .menu .menu-link--primary {
        display: block;
        padding: 11px 25px;
        font-size: 16px; font-weight: bold;
        flex: 1 1;
    }

    .menu .menu-link--secondary {
        display: block;
        padding: 8px 25px;
        font-size: 15px;
        flex: 1 1;
    }

    .menu .menu-link--tertiary {
        position: relative;
        padding: 6px 25px 6px 61px;
        color: fade(@primary, 70%);
        flex: 1 1;

        &:before {
            content: '';
            position: absolute; top: 16px; left: 25px;
            width: 18px; height: 1px;
            margin-right: 18px;
            background-color: fade(@primary, 30%);
        }
    }
}


@media (min-width: 580px) and (max-width: 1023px) {

    .menu__toggle {
        margin-right: 30px;
    }

    .menu .menu-link--primary,
    .menu .menu-link--secondary,
    .menu .menu-link--tertiary {
        padding-left: 40px;
        padding-right: 40px;
    }

    .menu .menu-link--tertiary {
        padding-left: 71px;

        &:before {
            left: 40px;
        }
    }
}

@media (min-width: 1024px) {

    .menu {
        display: flex;
        flex-flow: row wrap;
        font-size: 18px;
    }

    .menu .menu-item {
        padding: 0 22px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    .menu .menu-link {
        position: relative;
        display: block;
        padding: 22px 0;        

        &:before {
            content: '';
            position: absolute; top: 0; left: 0;
            width: 100%; height: 2px;
            background-color: transparent;
            transition: all 0.2s ease;
        }
    }

    .menu .menu-link:hover:before,
    .menu .current-menu-item .menu-link:before,
    .menu .current-page-ancestor .menu-link:before,
    .menu .current_page_parent .menu-link:before {
        background-color: @accent;
    }

    .menu .current-menu-item .menu-link,
    .menu .current-page-ancestor .menu-link,
    .menu .current_page_parent .menu-link {
        font-weight: bold;
    }
}
