@media (max-width: 1023px) {

    .navigation {
        display: none;
        width: 100%; 
        background-color: #033163;
        color: white;
    }
}


@media (min-width: 1024px) {

    .navigation {
        display: none;
    }
}