.pagination {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.pagination__item {
    padding: 0 5px;
}

.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; height: 30px;
    text-align: center;
}

.pagination__link.current {
    background-color: @secondary;
    font-weight: bold;
}


@media (min-width: 768px) {

    .pagination {
        font-size: 17px;
    }
}
