.post-meta {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 13px; text-transform: uppercase;
    color: fade(@primary, 50%);
}

.post-meta__item:not(:last-child) {
    padding-right: 10px;
}

.post-meta__category {
    display: block;
    padding: 0 9px;
    background-color: @secondary-light;
}