.qa-search {
    padding: 25px 25px 10px 25px;
    background-color: @accent-light;
}

.qa-search__title {
    margin-bottom: 8px;
    color: @accent-dark;
}

.qa-search__text {
    color: fade(@accent-dark, 80%);
}

.qa-search__form {
    margin-top: 20px;
}

.qa-search__button {
    width: auto;
}

.qa-search .form input[type="text"],
.qa-search .form input[type="search"],
.qa-search .form input[type="email"],
.qa-search .form input[type="submit"],
.qa-search .form input[type="date"],
.qa-search .form input[type="search"],
.qa-search .form select,
.qa-search .form textarea {
    border: 0;
}

.qa-search .form__label {
    color: fade(@accent-dark, 80%);
}

.qa-search__advanced {
    font-size: 14px;
    text-decoration: underline;
    color: fade(@accent-dark, 80%);
}

.qa-search__expand {
    display: none;
}

@media (min-width: 580px) {

    .qa-search {
        padding: 40px 40px 25px 40px;
    }
}


@media (min-width: 1024px) {

        .qa-search--full-width {
            padding: 40px 80px 25px 80px;
        }
}