.sidebar {
    padding: 30px 25px;
    background-color: @secondary;
    font-size: 17px;
}

.sidebar__title {
    font-size: 22px; font-weight: bold;
}

.sidebar__menu {
    margin-top: 10px;
}

.sidebar__item {
    display: block;
    padding: 8px 0;
}

.sidebar__link {
    display: block;

    &:hover {
        text-decoration: underline;
    }
}

    .sidebar__link--sub {
        position: relative;
        color: fade(@primary, 70%);

        &:before {
            content: '';
            display: inline-block; vertical-align: middle;
            width: 18px; height: 1px;
            margin-right: 18px;
            background-color: fade(@primary, 30%);
        }
    }

    .sidebar__link--active {
        font-weight: bold;
    }

    .sidebar__link--active.sidebar__link--sub {
        color: @primary;
    }


@media (max-width: 1023px) {

    .sidebar {
        display: none;
    }
}