.sidebar {
    padding: 30px 25px;
    background-color: @secondary;
    font-size: 17px;
}


.sidebar--publication {
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
}

.sidebar--accordion {
    position: relative;
    cursor: pointer;

    .accordion__arrow {
        top: 43px;
        right: 25px;
    }

    &:hover .accordion__arrow {
        fill: @primary;
    }

    &.sidebar--accordion--is-toggled .accordion__arrow {
        transform: rotate(180deg);
    }

    .sidebar__menu {
        display: none;
    }
}

.sidebar__title {
    font-size: 22px; font-weight: bold;
}

.sidebar__menu {
    margin-top: 10px;
}

.sidebar__children {
    margin: 8px 0 -8px 0;
}

.sidebar__item {
    display: block;
    padding: 8px 0;
}

.sidebar__link {
    display: block;

    &:hover {
        text-decoration: underline;
    }
}
    .sidebar__link--sub {
        position: relative;
        padding-left: 36px;
        color: fade(@primary, 70%);

        &:before {
            content: '';
            display: block;
            position: absolute; top: 10px; left: 0;
            width: 18px; height: 1px;
            background-color: fade(@primary, 30%);
        }
    }

    .sidebar__link--active,
    .sidebar__item.current-menu-item .sidebar__link,
    .sidebar__item.current-page-parent .sidebar__item.current-menu-item .sidebar__link {
        font-weight: bold;
    }
    

    .sidebar__item.current-menu-item .sidebar__link--sub {
        font-weight: normal;
    }

    .sidebar__link--active.sidebar__link--sub,
    .sidebar__item.current-page-parent .sidebar__item.current-menu-item .sidebar__link {
        color: @primary;
    }

    .sidebar__menu--internal-area .sidebar__children {
        display: none;
    }

    .sidebar__menu--internal-area .current-menu-item .sidebar__children,
    .sidebar__menu--internal-area .current-page-parent .sidebar__children {
        display: block;
    }


@media (max-width: 1023px) {

    .sidebar {
        display: none;
    }
}
