.title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
}

    .title--hero {
        font-weight: normal;
    }


    .title__small {
        font-size: 22px;
    }


@media (min-width: 768px) {

    .title {
        font-size: 28px;
    }

        .title--hero {
            font-size: 36px;
        }

        .title__small {
            font-size: 24px;
        }

}


@media (min-width: 1024px) {

    .title--hero {
        font-size: 48px;
        line-height: 1.2;
    }

    .title__small {
        font-size: 26px;
    }

}
