.u-padding {
    padding: 25px;
}

.u-margin-xs:not(:last-child) {
    margin-bottom: 10px;
}

.u-margin-s:not(:last-child) {
    margin-bottom: 15px;
}

.u-margin:not(:last-child),
.u-margin-l:not(:last-child) {
    margin-bottom: 30px;    
}

.u-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.u-highlight {
    cursor: pointer;
    border-bottom: 1px dashed @accent;
}


@media (min-width: 580px) {

    .u-padding {
        padding: 40px;
    }

    .u-margin-l:not(:last-child) {
        margin-bottom: 50px;
    }
}


@media (min-width: 1024px) {

    .u-padding {
        padding: 60px;
    }

    .u-margin-s:not(:last-child) {
        margin-bottom: 30px;
    }

    .u-margin:not(:last-child) {
        margin-bottom: 50px;    
    }
    
    .u-margin-l:not(:last-child) {
        margin-bottom: 75px;
    }

    .u-margin-top-xl {
        margin-top: 75px;
    }

    .u-container {
        max-width: 1000px;
        margin: 0 auto;
    }
}


@media (min-width: 1280px) {

    .u-padding {
        padding: 70px 60px;
    }
}